@font-face {
  font-family: "RatioModern-ExtraBold";
  src: url("../fonts/Fontspring-DEMO-RatioModern-ExtraBold.otf");
}

@font-face {
  font-family: "RatioModern-Small";
  src: url("../fonts/Fontspring-DEMO-RatioModern-SmallCaps.otf");
}

@font-face {
  font-family: "RatioModern-Medium";
  src: url("../fonts/Fontspring-DEMO-RatioModern-Medium.otf");
}

@font-face {
  font-family: "RatioModern-Regular";
  src: url("../fonts/Fontspring-DEMO-RatioModern-Regular.otf");
}

@font-face {
  font-family: "RatioModern";
  src: url("../fonts/Ratio\ Modern.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto-Light.ttf");
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #C21708;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #C21708;
}

.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
  background-color: #cccccc;
  border-radius: 25px;
}

.is_mobile {
  display: none;
}

.is_desktop {
  display: block;
}

.image_mc img {
  width: 100%;
}

.bg-gray {
  background-color: #E3E7EA;
}

.b-red {
  background-color: #C21708;
  color: #fff;
  padding: 3px;
}

.banner {
  background-color: #fff;
  background-image: url("../img/imagem_1.png");
  min-height: 45rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "RatioModern-Small";
  padding: 10rem 0rem 10rem 0rem;
}

.banner b {
  font-family: "RatioModern-ExtraBold";
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title h1 {
  font-family: "RatioModern";
  font-size: 4.8rem;
  margin: 0;
  padding-right: 0.5rem;
  width: 60%;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

.title_acordo h2 {
  font-family: "RatioModern";
  font-size: 3.5rem;
  padding: 1rem 0 2rem;
  margin: 0;
  color: #c40007;
  text-align: center;
  font-weight: 600
}

.title_acordo p {
  font-size: 1.25rem;
  font-family: "RobotoLight";
  font-weight: 600;
  line-height: 30px;
}

.bg-red {
  background-color: #c40007;
  align-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.bg-red span {
  font-size: 2.5rem;
  color: #ffa50d;
}

.subtitle {
  text-align: center;
}

.subtitle p {
  color: #fff;
  font-family: "RobotoLight";
  font-size: 2rem;
  padding: 1% 15%;
}

.subtitle b {
  font-family: "RobotoRegular";
  font-weight: 600;
  font-size: 2rem;
}

.btn-entenda {
  background-color: #fff;
  width: 160px;
  padding: 0.6rem 1.7rem 0 1rem;
  height: 3rem;
  font-size: 20px;
  display: block;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  margin: 2rem auto;
  color: #000;
  text-decoration: none;
  font-family: "RobotoRegular";
}

.btn-entenda:hover {
  color: #000;
}

.imagem .chevron {
  width: 23%;
  padding: 0 0.3rem;
}

.masthead__tag {
  height: 20px;
  padding: 0 5px;
  margin-bottom: 0.3rem;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  white-space: nowrap;
  color: #ffffff;
  z-index: 1;
  width: 100%;
  text-align: center;
  top: -50px;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tag {
  margin-left: auto;
  margin-right: auto;
  background-color: #e79b03;
  width: 165px;
}

.first-cite {
  font-size: 1.25rem;
  font-family: "RobotoLight";
  font-weight: 600;
}

.first-cite p {
  color: #262626;
  font-weight: 600;
  line-height: 30px;
}

.first-cite strong {
  font-family: "RobotoBold";
}

.second-cite {
  font-family: "RobotoBold";
}

.start-quote {
  margin: -1rem -0.9rem;
  width: 5.5rem;
  font-size: 3.5rem;
  color: #C21708;
  font-family: "RobotoRegular";
  padding: 1rem 0rem;
}

blockquote {
  width: 75%;
  color: #020202 !important;
  font-family: "RatioModern";
  font-weight: 600;
  font-size: 1.6rem;
}

cite {
  text-decoration: none;
  font-style: normal;
  color: #666666;
}

.author {
  font-family: "RobotoLight";
  font-size: 1.2rem;
  display: inline-flex;
}

.author b {
  font-family: "RobotoBold";
}

cite:before {
  content: " \2015 ";
  color: #BB1C07;
  padding-right: 5px;
}

.imagem2 {
  background-image: url(../img/imagem_2.png);
  min-height: 65rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-white {
  background-color: #fff;
  padding: 0rem 6rem 0 !important;
}

/* .grafico {
  min-width: 60rem;
} */

.projetos h2 {
  font-family: "RatioModern";
  color: #C21708;
  font-size: 3.5rem;
  font-weight: 600;
}

.title_acordo .text-bold {
  font-family: "RobotoBold";
  font-size: 1.6rem;
  color: #313131;
  text-align: center;
}

.projetos .pp {
  font-family: "RobotoBold";
  font-size: 1.6rem;
  margin: 0 2rem 2rem;
  color: #2D2D2D;
  width: 60%;
  line-height: 30px;
  display: inline-flex;
}

.projetos p {
  font-family: "RobotoRegular";
  font-size: 1.3rem;
  color: #2D2D2D;
  font-weight: 600;
}

.projetos .orange {
  color: #93432E !important;
}

.projetos .projeto-icon {
  width: 125px;
  margin: auto
}

.acordo-abs {
  position: relative;
  z-index: 959;
  margin-top: -14rem !important;
}

.fazer {
  position: absolute;
  top: 19%;
  right: 0%;
  cursor: pointer;
  width: 200px;
  height: 100px;
}

.fazer2 {
  position: absolute;
  bottom: 5%;
  left: 0%;
  cursor: pointer;
  width: 200px;
  height: 100px;
}

.fluxo h2 {
  font-family: "RatioModern";
  color: #C21708;
  font-size: 3.5rem;
  font-weight: 600;
}

.fluxo .fluxo-item-number {
  background-color: #FFA267;
  color: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 20px;
  margin: auto
}

.fluxo .fluxo-item-number p {
  font-size: 3.2rem;
  margin: auto;
  margin-top: -20px;
  font-weight: 600;
}

.fluxo .fluxo-item-iniciativas {
  background-color: #FFA267;
  color: #666666;
  padding: 2px;
}

.fluxo .fluxo-col-3 {
  border-right: 4px solid #E8E8E8;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fluxo .fluxo-item-icon {
  max-width: 65px;
}

.fluxo .fluxo-item-border {
  border-right: 4px solid #E8E8E8;
  border-bottom: 4px solid #E8E8E8;
  border-top: 4px solid #E8E8E8;
}

.fluxo .col-9 {
  text-align: left !important;
}

.fluxo .fluxo-item-border span {
  font-family: "RobotoRegular";
  font-size: 1.3rem;
  color: #666666;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}

.repasses h2 {
  font-family: "RatioModern";
  color: #C21708;
  font-size: 3.5rem;
  font-weight: 600;
  display: inline-flex;
}

.repasses .pp {
  font-family: "RobotoBold";
  font-size: 1.6rem;
  margin: 0 2rem 2rem;
  color: #2D2D2D;
  display: inline-flex;
  line-height: 30px;
}

.repasses .repasses-item {
  background-color: #E3E7EA;
  border-right: 8px solid #C31707;
}

.repasses .repasses-item-icon {
  max-width: 80px;
  margin: auto;
}

.repasses .repasses-col-3 {
  display: flex;
}

.repasses .col-10 {
  text-align: left !important;
}

.repasses .repasses-item span {
  font-family: "RobotoRegular";
  font-size: 1.3rem;
  color: #060606;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}

.repasses .vermelho {
  color: #BB1C07 !important;
}

.grafico2 {
  position: relative;
  left: -30%;
  min-width: 100rem;
}

.reparacao {
  background-color: #fff;
  background-image: url("../img/imagem_4.png");
  min-height: 45rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "RatioModern-Small";
  padding: 4rem 0rem 4rem 0rem;
}

.reparacao-title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.reparacao-title h2 {
  font-family: "RatioModern";
  font-size: 3.5rem;
  margin: 0;
  padding-right: 0.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

.reparacao .reparacao-subtitle {
  font-family: "RobotoLight";
  font-size: 1.3rem;
  color: #fff;
  margin-top: auto;
  margin-bottom: auto;
}

.reparacao .reparacao-subtitle strong {
  font-family: "RobotoRegular";
  font-weight: 600;
}

footer {
  background-color: #C4160B;
  height: 75px;
}

.modal-fazer {
  z-index: 969;
  background-color: #FFF;
  border: 1px solid #000;
  padding: 1rem 0rem;
  width: 50%;
  box-shadow: rgb(0 0 0 / 30%) 10px 3px 20px;
}

.modal-pagar {
  z-index: 969;
  background-color: #FFF;
  border: 1px solid #000;
  padding: 1rem 0rem;
  width: 65%;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.302) 10px 3px 20px;
}

.fazer-content ul {
  padding: 2rem 2.7rem 0rem 1rem;
  font-family: "RobotoRegular";
  font-size: 1.2rem;
  color: #767676;
}

.fazer-content li {
  padding: 0.5rem 0;
  font-family: "RobotoRegular";
  font-size: 1.2rem;
  color: #767676;
}

.no-bullet {
  list-style: none;
}

.modal-fazer .btn-close {
  border: 2px solid #fc8332;
  border-radius: 25px;
  filter: invert(57%) sepia(56%) saturate(1402%) hue-rotate(338deg) brightness(102%) contrast(98%);
  position: relative;
  float: right;
  padding: 0.5rem;
  width: 0.8em;
    height: 0.8em;
    opacity: 1;
}

.modal-pagar .btn-close {
  border: 2px solid #fc8332;
  border-radius: 25px;
  filter: invert(29%) sepia(64%) saturate(2409%) hue-rotate(343deg) brightness(80%) contrast(99%);
  position: relative;
  float: right;
  padding: 0.5rem;
  width: 0.8em;
    height: 0.8em;
    opacity: 1;
}