@font-face {
  font-family: "RatioModern-ExtraBold";
  src: url("../fonts/Fontspring-DEMO-RatioModern-ExtraBold.otf");
}

@font-face {
  font-family: "RatioModern-Small";
  src: url("../fonts/Fontspring-DEMO-RatioModern-SmallCaps.otf");
}

@font-face {
  font-family: "RatioModern-Regular";
  src: url("../fonts/Fontspring-DEMO-RatioModern-Regular.otf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.ttf");
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #cc0000;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 20px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #cc0000;
}

.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
  background-color: #cccccc;
  border-radius: 25px;
}

.is_mobile {
  display: none;
}

.is_desktop {
  display: block;
}

.image_mc img {
  width: 100%;
}

.bg-gray {
  background-color: #efefef;
}

.b-red {
  background-color: #cc0000;
  color: #fff;
}

.banner {
  padding: 2rem 0 1rem;
  background-color: #fff;
  background-image: url("../img/imagem_1.png");
  min-height: 55rem;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "RatioModern-Small";
  padding: 16rem 0rem 0rem;
  background-position: 0 -5rem;
}

.banner b {
  font-family: "RatioModern-ExtraBold";
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title h1 {
  font-family: "RatioModern-Small";
  font-size: 5rem;
  margin: 0;
  padding-right: 0.5rem;
  width: 60%;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

.title_acordo {
  padding: 0 1rem;
}

.title_acordo h2 {
  font-family: "RatioModern-Small";
  font-size: 4rem;
  padding: 1rem 0 2rem;
  margin: 0;
  color: #c40007;
  text-align: center;
  font-weight: 600
}

.title_acordo p {
  font-size: 1.62rem;
  padding: 1rem 7.7rem;
  font-family: 'RobotoRegular';
}
 
.bg-red {
  background-color: #c40007;
  align-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.bg-red span {
  font-size: 2.5rem;
  color: #ffa50d;
}

.subtitle {
  text-align: center;
}

.subtitle p {
  color: #fff;
  font-family: "RobotoRegular";
  font-size: 1.5rem;
  padding: 1% 25%;
}

.subtitle b {
  font-family: "RobotoBold";
}

.btn-entenda {
  background-color: #fff;
  width: 10%;
  padding: 0.6rem 1.7rem 0 1rem;
  height: 3rem;
  font-size: 20px;
  display: block;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  margin: 2rem auto;
  color: #000;
  text-decoration: none;
  font-family: "RobotoRegular";
}

.imagem .chevron {
  width: 23%;
  padding: 0 0.3rem;
}

.masthead__tag {
  height: 20px;
  padding: 0 5px;
  margin-bottom: 0.3rem;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  white-space: nowrap;
  color: #ffffff;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.tag {
  margin-left: auto;
  margin-right: auto;
  background-color: #e79b03;
  width: 165px;
}

.first-cite {
  font-size: 1.5rem;
  font-family: "RobotoRegular";
}

.first-cite p {
  margin: 5rem;
  color: #262626;
}

.second-cite {
  font-family: "RobotoBold";
  margin: 2.5rem;
}

.start-quote {
  margin: -2rem 1rem;
  width: 4rem;
  font-size: 4rem;
  color: #cc0000;
  font-family: "RobotoRegular";
}

blockquote {
  margin: 0 0rem;
  width: 62%;
}

cite {
  font-family: "RobotoBold";
  text-decoration: none;
  font-style: normal;
  color: #666666;
}

.author {
  margin: 0rem 11.5rem 3rem;
  font-size: 1.2rem;
  width: 45%;
  display: inline-flex;
}

cite:before {
  content: " \2015 ";
}

.imagem2 {
  background-image: url(../img/imagem_2.png);
  min-height: 65rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg-white {
  background-color: #fff;
  padding: 5rem 8rem !important;
}

.projetos h2 {
  font-family: "RatioModern-Bold";
  color: #cc0000;
  font-size: 4rem;
  font-weight: 700;
}

.title_acordo .text-bold {
  font-family: "RobotoBold";
  font-size: 1.8rem;
  margin: 0 2rem 2rem;
  color: #666666;
  text-align: center;
}

.acordo-abs {
  position: relative;
  z-index: 999;
  top: -14rem;
}

.fazer {
  position: absolute;
  top: 36.5%;
  right: 15.5%;
}

.btn-fazer {
  color: #fc8332;
  border: 2px solid #fc8332;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
}

.span-fazer {
  position: absolute;
  font-size: 30px;
  top: -12px;
  left: 3px;
}

.fazer2 {
  position: absolute;
  top: 63.4%;
  right: 77%;
}

.btn-fazer2 {
  color: #c4170c;
  border: 2px solid #c4170c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
}

.span-fazer2 {
  position: absolute;
  font-size: 30px;
  top: -12px;
  left: 3px;
}