@font-face {
  font-family: "RatioModern-ExtraBold";
  src: url("../fonts/Fontspring-DEMO-RatioModern-ExtraBold.otf");
}

@font-face {
  font-family: "RatioModern-Small";
  src: url("../fonts/Fontspring-DEMO-RatioModern-SmallCaps.otf");
}

@font-face {
  font-family: "RatioModern-Regular";
  src: url("../fonts/Fontspring-DEMO-RatioModern-Regular.otf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.ttf");
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #cc0000;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 20px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #cc0000;
}

.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
  background-color: #cccccc;
  border-radius: 25px;
}

.is_mobile {
  display: none;
}

.is_desktop {
  display: block;
}

.image_mc img {
  width: 100%;
}

.banner {
  padding: 2rem 0 1rem;
  background-color: #fff;
  background-image: url('../img/imagem_1.png');
  min-height: 75rem;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'RatioModern-Small';
  padding: 16rem 0rem 10rem;
  background-position: 0 -5rem;
}

.banner b {
  font-family: 'RatioModern-ExtraBold';
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title h1 {
  font-family: 'speedee_Bd';
  font-size: 4rem;
  margin: 0;
  padding-right: 0.5rem;
  width: 45%;
  color: #FFF;
  text-align: center;
  letter-spacing: 2px;
}

.bg-red {
  background-color: #c40007;
  align-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.bg-red span {
  font-size: 2.5rem;
  color: #ffa50d;
}

.subtitle {
  text-align: center;
}

.subtitle p {
  color: #FFF;
  font-family: 'RobotoRegular';
  font-size: 1.5rem;
  padding: 1% 25%;
}

.subtitle b {
  font-family: 'RobotoBold';
}

.imagem {
  text-align: center;
  position: relative;
  top: -10%;
}

.imagem .imagem_topo {
  width: 40%;
}

.btn-entenda {
  background-color: #fff;
  width: 10%;
  padding: 0.6rem 1.7rem 0 1rem;
  height: 3rem;
  font-size: 20px;
  display: block;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  margin: 2rem auto;
  color: #000;
  text-decoration: none;
  font-family: 'RobotoRegular';
}

.imagem .chevron {
  width: 23%;
  padding: 0 0.3rem;
}

.cheedar {
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: -15.5%;
  right: 26%;
}

.selector_brother {
  background-image: url('../img/00. Topo/Cheddar.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -45px;
  background-color: #c40007;
  font-family: 'speedee_Bd';
  padding: 1rem 0 6rem;
}

.escolha {
  text-align: center;
  color: #FFF;
  font-size: 2.0rem;
  font-family: 'speedee_Bd';
  padding: 4rem;
}

.escolha_mc {
  text-align: center;
  color: #FFF;
  font-size: 2.0rem;
  font-family: 'speedee_Bd';
}

.image_brother {
  width: 76% !important;
  text-align: center;
  position: relative;
  margin: auto;
}

.brother_active {
  border: 6px solid #FFA50D;
}

.image_brother p {
  position: absolute;
  align-items: center;
  top: 84%;
  left: -50%;
  right: -50%;
  font-size: 1.3rem;
}

.selector_mc .image_brother .chicken {
  position: absolute;
  align-items: center;
  top: 84%;
  left: -50%;
  right: -50%;
  font-size: 1.3rem;
}

.selector_mc .image_brother .fritas {
  position: absolute;
  align-items: center;
  top: 84%;
  left: -50%;
  right: -50%;
  font-size: 1.3rem;
}

.selector_mc .image_brother .mms {
  position: absolute;
  align-items: center;
  top: 84%;
  left: -50%;
  right: -50%;
  font-size: 1.3rem;
}

.owl-nav>.owl-prev>span {
  content: url('../img/02.Meio/Seta Esquerda.png');
  width: 70%;
}

.owl-nav>.owl-next>span {
  content: url('../img/02.Meio/Seta Direita.png');
  width: 70%;
}

.selector_brother .row {
  transform: scale(0.9) !important;
}

.owl-prev {
  position: absolute;
  top: 40%;
  left: -8%;
  display: block !important;
}

.owl-next {
  position: absolute;
  top: 40%;
  right: -100px;
  display: block !important;
}

/* .seletor {
padding: 1rem 0 6rem;
} */

.button_share {
  background-image: url(../img/02.Meio/Botão.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  height: 8rem;
  align-items: center;
  margin: 1rem auto;
  position: relative;
  width: 28% !important;
  background-color: transparent;
  border: 0;
  font-size: 1.2rem;
  margin-top: 60px !important;
}

.button_share svg {
  margin-left: 0.4rem;
}

.owl-stage-outer {
  transform: scale(0.9) !important;
}

.modal-dialog {
  max-width: 350px !important;
}

.active_mc {
  border: 6px solid #FFA50D;
}

/* .owl-carousel .owl-item:hover {
  padding: 2px;
}

.image_mc:hover {
  padding: 1px;
} */

.owl-carousel .owl-prev>span:hover {
  padding: 2px;
}

.owl-carousel .owl-next>span:hover {
  padding: 2px;
}

.maxiboard {
  padding: 6rem;
  background-color: #CA1C22;
  text-align: center;
  color: #FFF;
}

.texto {
  font-family: 'speedee_Rg';
  font-size: 18px;
}

.footer .texto {
  padding-left: 10px;
}

.texto a {
  text-decoration: underline;
  color: #ffa50d;
}

.up {
  align-items: flex-start;
}

.up .texto {
  color: #ffa50d;
  font-family: 'speedee_Bd';
  width: 100%;
  font-size: 20px;
  padding-left: 22px;
}

.page-2 {
  background-color: #c40007;
  background-image: url("../img/03.\ Gerador\ de\ Card/BG Card.jpg");
  background-size: cover;
}

.comp-text {
  font-family: 'speedee_Bd';
  color: #fff;
  font-size: 30px;
  text-align: center;
}

#participante-selecionado {
  color: #ffa50d !important;
  font-size: 32px;
}

#text-selecionado {
  font-family: 'speedee_Rg';
  color: #fff;
  font-size: 24px;
}

.pointer {
  transition: 0.5s;
  cursor: pointer !important;
}

.pointer:hover {
  transition: 0.5s;
  transform: scale(0.98);
}

.masthead__tag {
  height: 20px;
  padding: 0 5px;
  margin-bottom: 0.3rem;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  white-space: nowrap;
  color: #ffffff;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.tag {
  margin-left: auto;
  margin-right: auto;
  background-color: #e79b03;
  width: 165px;
}

.modal-header {
  border-bottom: 1px solid #292929 !important;
}

.modal-title {
  font-family: 'speedee_Bd';
  font-size: 24px;
  line-height: 1 !important;
  font-weight: 600;
  color: #ffa50d;
}

.modal {
  top: 20%
}

.btn-close {
  box-shadow: none;
  border: none;
  outline: none
}

.modal-content {
  background-color: #fff !important;
  border-radius: 10px;
  padding: 1rem 1rem 2rem;
}

.modal-body .icons {
  margin: 15px 0px 20px 0px
}

.modal-body .icons a {
  text-decoration: none;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}

.modal-body .icons .facebook {
  content: url('../img/facebook_white.svg');
  width: 20%;
}

.modal-body .icons .facebook:hover {
  content: url('../img/facebook_blue.svg');
  width: 20%;
  transition: 3.5ms;
}

.modal-body .icons .twitter {
  content: url('../img/twitter_white.svg');
  width: 20%;
}

.modal-body .icons .twitter:hover {
  content: url('../img/twitter_blue.svg');
  width: 20%;
  transition: 3.5ms;
}

.modal-body .icons .email {
  content: url('../img/email_white.png');
  width: 20%;
}

.modal-body .icons .email:hover {
  content: url('../img/email_black.png');
  width: 20%;
  transition: 3.5ms;
}


.modal-body .icons a:hover {
  border-color: transparent
}

.modal-body .icons a span {
  transition: all 0.09s ease-in-out
}

.modal-body .icons a:hover span {
  transform: scaleX(1.1)
}

.modal-body .field {
  margin: 15px 0px -5px 0px;
  height: 45px;
  border-radius: 5px;
  padding: 0 5px;
  border: 1px solid #292929 !important;
}

.modal-body .field.active {
  border-color: #c40007;
}

.field span {
  width: 50px;
  font-size: 1.1rem
}

.field.active span {
  color: #c40007
}

.field input {
  border: none;
  outline: none;
  font-size: 0.89rem;
  width: 100%;
  height: 100%;
  color: #ffa50d;
}

.field button {
  padding: 3px 7px;
  color: #242424;
  background: #ffa50d;
  border: 2px solid transparent;
  border-radius: 5px;
  font-weight: 500;
}

.link_share {
  background: url(../img/link.png);
  padding: 0 0 0 2rem;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: left;
}